html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.chart-container {
    position: absolute;
    left: calc((100% - 1000px) / 2);
    bottom: 20px;
    width: 1000px;
    height: 200px;
    z-index: 10;
    /* background-color: #efefef; */
}

#elevationProfileChartDiv {
    height: 100%;
    width: 100%;
    background-color: #efefef;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}
  
.area {
    fill: lightsteelblue;
}