html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.chart-container {
    position: absolute;
    left: calc((100% - 1000px) / 2);
    bottom: 20px;
    width: 1000px;
    height: 200px;
    z-index: 10;
    /* background-color: #efefef; */
}

.panel-semi-transparent {
    background-color: rgba(0, 0, 0, .8);
}

#elevationProfileChartDiv {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
}

.line {
    fill: none;
    stroke: #778C7E;
    stroke-width: 1px;
}
  
.area {
    fill: rgba(116,122,83, .8);
}

.domain {
    stroke: rgba(230,230,230,.3);
}

.tick line {
    stroke: rgba(230,230,230,.3);
  }
  
.tick text{
    fill: rgba(230,230,230,.8);
} 